
<section class="my-breadcrumb-content" style="background: url(http://ozcevikplastik.com.tr/upload/s_kurumsal.jpg)">
    <div class="container">
        <h1 title="Kurumsal"  style="color:whitesmoke">
            Kurumsal
        </h1>
        <nav class="my-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" ><a routerLink="" style="color:whitesmoke" >Anasayfa</a></li>
                <li class="breadcrumb-item" style="color:whitesmoke" >Kurumsal</li>
            </ol>
        </nav>
    </div>
</section>
<section class="page-content " style="margin-top: 50px;">
    <div class="container ">
        <div class="container shadow m-3">
            <p><strong>Procom olarak,</strong> Türkiye’nin önde gelen <strong>PVC Granül İmalatçıları</strong> arasında yer almaktadır. 25 yıldır <strong>PVC granül üretimi ve imalatı</strong> konusunda sahip olduğumuz bilgi birikimi ve deneyimi müşterilerimizi memnun etmek için kullanıyoruz. Yeni teknolojilere hakim profesyonel ekibimiz titiz üretim sürecinin her aşamasını bilgi birikimlerinden aldıkları güçle yürütüyorlar.&nbsp;</p>

            <p>Geniş ürün yelpazemizle müşterilerimize ihtiyaçlarına uygun çözümler sunuyoruz. Her ürünün özel olduğunu bilmenin titizliğiyle mükemmelliği hedefleyerek çalışıyoruz.</p>
            
            <h3><strong>MİSYONUMUZ</strong></h3>
            
            <p>PVC sektöründe kalite standartlarını belirleyerek müşteri memnuniyeti ve karşılıklı güvenin ön planda olduğu uzun vadeli iş ortaklıklarına imza atmak.</p>
            
            <h3><strong>VİZYONUMUZ</strong></h3>
            
            <p>Dünyadaki en ileri PVC teknolojilerini tüketicilerle buluşturarak Türkiye’nin sanayi atılımına katkıda bulunmak.</p>
            
            <h3><strong>SİPARİŞTEN ÜRÜN TESLİMİNE KADAR ÖZEL İLGİ</strong></h3>
            
            <p>Siparişle başlayarak ürün teslimine kadar devam eden üretim sürecinde müşterilerimize yüksek kalitede hizmet vermek için çalışıyoruz.&nbsp;</p>
            
            <h3><strong>TEKNOLOJİ VE İNOVASYON</strong></h3>
            
            <p>Ürün kalitemizi artırmak için PVC sektöründeki gelişmeleri yakından takip ediyoruz. Müşterilerimizin dünyadaki en yeni ve gelişmiş teknolojiyle hizmet almasını amaçlıyoruz.</p>
            
            <h3><strong>KALİTE VE HIZLI TESLİMAT</strong></h3>
            
            <p>Müşterilerimizin talep ettikleri ürünlere mümkün olan en kısa sürede ulaşmasını sağlıyoruz.&nbsp;</p>
            
            <h3><strong>ÇEVRE DOSTU ÜRÜNLER</strong></h3>
            
            <p>Çevre ve insan sağlığı bizim için çok önemli. Ürünlerimizin çevre dostu olması için özen gösteriyoruz.</p>
            
                    <div class="clearfix"></div>
                    <div class="row">
                        
                    </div>
        </div>
  
    </div>
</section>