<div class="container" >
    <div class="container2" > 
        <div class="row row-cols- row-cols-md-3 mb-3 text-center">

            <div class="col" >
                    <div class=" card m-3 shadow"  >
                        <div class="card-body" >
                            <img class="img-fluid" src="assets/images/u_termo-granul-cesitleri.jpg"  routerLink="">
                        </div>
                        <div class="card-footer text-left ">
                            <h5>Termo Granür Çeşitleri</h5>
                                
                        </div>
                    </div>
            </div>
            <div class="col" >
                <div class=" card m-3 shadow"  >
                    <div class="card-body" >
                        <img class="img-fluid" src="assets/images/u_rijit-pvc-granul-cesitleri.jpg"  routerLink="">
                    </div>
                    <div class="card-footer text-left ">
                        <h5>Rijit Granür Çeşitleri</h5>
                            
                    </div>
                </div>
        </div>
        <div class="col" >
            <div class=" card m-3 shadow"  >
                <div class="card-body" >
                    <img class="img-fluid" src="assets/images/u_oyuncak-pvc-granul-cesitleri.jpg"  routerLink="">
                </div>
                <div class="card-footer text-left ">
                    <h5>Oyuncak PVC Granür Çeşitleri</h5>
                        
                </div>
            </div>
    </div>
        </div>
    </div>
</div>