
<footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="assets/images/logo.png"  class="img-fluid" style="margin-bottom:30px">
      </a>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Kurumsal</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Ürünler</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-chevron-double-right"></i>About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>İletişim</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-house"></i>Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-telephone"></i>Tel</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-envelope"></i>Mail</a></li>

      </ul>
    </div>
  </footer>